<div class="container">
  <div class="row" style = "text-align : center;"> 
        <div class="col-md-4">
            <img class = "imgDim" src = "assets/images/christ.jpg" 
            (click) = "onClick('christ')" (mouseenter) = "hover('christ')">
          </div>
          <div class="col-md-4">
              <img class = "imgDim" src = "assets/images/great-wall-of-china.jpg"
              (click) = "onClick('great-wall-of-china')" (mouseleave) = "hover('great-wall-of-china')">
          </div>
          <div class="col-md-4">
              <img class = "imgDim" src = "assets/images/pyramid.jpg"
              (click) = "onClick('pyramid')" (mouseover) = "hover('pyramid')">
          </div>
  </div>
  <div class="row" style="text-align : center;">
    
    <div class="col-md-4">
        <img class = "imgDim" src = "assets/images/taj-mahal.jpg"
        (click) = "onClick('taj-mahal')" (mouseover) = "hover('taj-mahal')">
    </div>
    <div class="col-md-4">
        <img class = "imgDim" src = "assets/images/the-colosseum.jpg"
        (click) = "onClick('the-colosseum')" (mouseover) = "hover('the-colosseum')">
    </div>
  </div>
</div>

